// Fonts
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";
//ICONOS

// Admin LTE
@import "~admin-lte/dist/css/AdminLTE.css";
@import "~admin-lte/dist/css/skins/_all-skins.css";

//toastr

@import "~toastr/toastr";

///////////////////////////////////////////////////////////////
// New SASS styles                                           //
// by Manuel Hernandez <manuel.hernandez@riverovisualgroup>  //
///////////////////////////////////////////////////////////////

a, label, span {
    font-family: $font-family-sans-serif;
}

//////////////////// Modal Switch Contract ////////////////////

$hover: #cbb956;

.hover:hover{   
    background: $hover;
    }
    
.text-left {
    font-weight: 400;
    font-size: $font-size-base;
    overflow-wrap: $overflow-wrap;
    white-space: $overflow-wrap;
     }

////////////////////////// Particles /////////////////////////



/////////////////// Modal Document Preview ///////////////////

.iframe{
    width:100%;
    height: calc(100vh - 88px);  
  }

//////////////////////// Comentarios /////////////////////////

  .text-principal{
    overflow-wrap: $overflow-wrap;
  }
  .comment {
      font-size: $font-size-base;
      overflow-wrap: $overflow-wrap;
      white-space: $white-space;
       }